@charset "UTF-8";

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px;
	gap: 40px;
}

#form{
	width: 100%;
	display: none;
}

#button{
	display: block;
	margin:0px auto;
}

#form>div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin:0px auto 20px auto;
}

.option{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;

	width: 100%;
	max-width: 600px;
}

.option_text{
	font-size: 18px;
	font-weight: 600;
}

.input_primary{
	display: block;
	margin: 15px auto;
}

.title{
	font-size: 32px;
	font-weight: 800;
}

#email{
	color: #888888;
}