#contain-experiment{
    display: none;
}

h2 {
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 700;
    font-size: 26px; /* 調整字體大小 */
    text-align: center; /* 水平置中 */
    letter-spacing: 0.2em;
    padding-top: 25px;
    color: #409FAC; /* 保持與標題一致的顏色 */
    margin: 0 auto; /* 確保文字容器水平置中 */
    width: 100%; /* 確保 h2 占據父容器的寬度 */
}
 
.face-container {
    width: 100%;
    text-align: center;
    margin-bottom: 0; /* Connect the face image directly to the color block */
}

.user-face {
    width: 80px; /* Width of the face image */
    height: 120px; /* Height of the face image */
    display: block;
    margin: 0 auto;
    border-radius: 0; /* Ensure no rounded corners */
}

.color-block {
    width: 150px; 
    height: 150px; 
    display: flex; 
    position: relative; 
    margin: 0 auto; /* Center the color block */
    margin-top: -2px; /* Adjust the top margin to connect the face image and the color block */
}


 /* 圖片項目樣式 */
.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
@media (max-width: 767.98px) {
    .image-item {
        margin-bottom: 50px; /* 為小螢幕增加下方間距 */
    }
}
 

.color-text2 {
    color: #222222;
    font-size: 10px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    margin: 0;
    background-color: transparent;
}
.color-text1 {
    color: #f6f6f6;
    font-size: 10px;
    position: absolute;
    right: 5%;
    margin: 0;
    background-color: transparent;
}
 

.submit-btn {
    background-color: #409FAC;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 700;
    display: block;
    text-align: center;
    margin: 20px auto; /* 確保按鈕在父容器中水平置中 */
    max-width: 200px; /* 限制按鈕的最大寬度 */
    width: 100%; /* 讓按鈕在小屏幕上自適應 */
}
 
/* 卡片樣式 */
.card {
    width: 100%; /* 讓卡片寬度填滿容器 */
    padding: 10px; /* 控制內邊距，確保內容不會緊貼卡片邊緣 */
    box-sizing: border-box; /* 確保 padding 包含在卡片的總寬度內 */
    overflow: hidden; /* 確保內容不會超出容器邊界 */
}
 
.card-content {
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
}
 