@charset "UTF-8";

body{
	margin: 0px;
	display: flex;
  	flex-direction: column;
}

.btn{
	background-color: #ffffff;

	box-sizing: border-box;
	justify-content: center;
	align-items: center;

	font-size: 14px;
	font-weight: 600;
	
	width: 112px;
	height: 33px;

	border-radius: 30px;
}

.btn:hover{
	color: #ffffff;
	cursor: pointer;
}

.primary{
	@extend .btn;
	color: #409fac;
	border: 1.5px solid #409FAC;
}

.primary:hover{
	@extend .btn:hover;
	background-color: #409fac;
}

.danger{
	@extend .btn;
	color: #dc3545;
	border: 1.5px solid #dc3545;
}

.danger:hover{
	@extend .btn:hover;
	background-color: #dc3545;
}

.input_primary{
	display: block;
	width: 100%;
	max-width: 240px;
	height: 30px;
	border-bottom: 1.5px solid #000000; 
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	font-size: 14px;
}

.input_primary:focus{
	border-bottom: 1.5px solid #409fac;
}

#error_msg{
	color: #FF0000;
	font-size: 12px;
}
