/* 使用 Poppins 字體 */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* 商品標題樣式 */
.product-title {
    font-weight: 600;
    font-size: 2rem;
}

/* 商品區段標題 (h5) 樣式 */
.product-section-title {
    font-size: 1.1rem;
    color: #909091;
    font-weight: 700;
}

/* 商品描述區塊 */
.product-description {
    display: flex;
    align-items: flex-start;
}

/* 吉祥物圖片樣式 */
.mascot-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
}

/* 商品描述文字樣式 */
.product-description p {
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: bold;
    margin: 0;
    color: #27292b;
}

/* 商品價格樣式 */
.product-price {
    font-weight: bold;
    margin-top: 15px; /* 稍微縮小間距 */
    margin-bottom: 20px; /* 避免擁擠 */
}

/* 商品標籤間距 */
.product-tags .badge {
    margin-right: 10px;
    margin-bottom: 5px;
}
