@charset "UTF-8";

@media (max-width: 700px) {
    .login_contain{
    	width:100%;
    	border-right: none;
    	border-bottom: 1px solid #AAAAAA;
    	padding: 0px 0px 40px 0px;
    	margin: 0px 20px;
    }
    .register{
    	width: 100%;
    }
}