body {
    font-family: Microsoft JhengHei;
}
/*#banner {
    background-image: url(../images/屁眼派對.gif);
    background-position: center center;
    background-size: cover;
    height: 300px;
    margin-top: 3.5rem;
}*/
.title {
    color: #88CCCC;
    font-weight: bold;
}
.title2 {
    color: #88AAAA;
    font-weight: bold;
}

