/* 使用 Poppins 字體 */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* 商品標題樣式 */
.product-title {
    font-weight: 600;
    font-size: 2rem;
}

/* 商品區段標題 (h5) 樣式 */
.product-section-title {
    font-size: 1.1rem;
    color: #909091;
    font-weight: 700;
}

/* 商品描述區塊 */
.product-description {
    display: flex;
    align-items: flex-start;
}

/* 吉祥物圖片樣式 */
.mascot-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
}

/* 商品描述文字樣式 */
.product-description p {
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: bold;
    margin: 0;
    color: #27292b;
}

/* 商品價格樣式 */
.product-price {
    font-weight: bold;
    margin-top: 15px; /* 稍微縮小間距 */
    margin-bottom: 20px; /* 避免擁擠 */
}

/* 商品標籤間距 */
.product-tags .tag{
    margin-right: 12px;
    margin-bottom: 5px;
}

.tag{
    display: inline-block;
    padding: 2px 10px;
    background: #409FAC;
    border: 1.5px solid #409FAC;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    color:#FFFFFF;
}

.tag-spring{
    background: #FF7F8C;
    border: 1.5px solid #FF7F8C;
    color: #292929;
}

.tag-summer{
    background: #1FB585;
    border:1.5px solid #1FB585;
}

.tag-autumn{
    background: #ECA319;
    border:1.5px solid #ECA319;
    color: #292929;
}

.tag-winter{
    background: #4DBCE9;
    border:1.5px solid #4DBCE9;
    color: #292929;
}
