.product-card {
    border: 1px solid #e0e0e0;
    transition: box-shadow 0.3s;
}
.product-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #292929;
    font-weight: bold;
}

.card-price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #EE4D2D;
    font-weight: bold;
}

.link{
    text-decoration: none;
}