@charset "UTF-8";

main{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	justify-content: center;
	padding: 60px 0px;
	max-width: 1280px;
}

.btn_social_login{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 30px;
	gap: 0px;

	width: 200px;
	height: 36px;

	background-color: #F5F5F5;
	border-radius: 30px;
	
	font-size:12px;
}

.login{
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100%;
	min-width: 300px;

}

.social_login{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	padding: 20px 0px;
	gap: 10px;
}

button{
	align-items:center;
	display: inline-block;
	background-color: #f2f2f2;
	border: none;
	border-radius: 30px;
	font-size: 14px;
	width: 200px;
	height: 35px;
	margin: 0px 5px;
	cursor: pointer;
	
}

button>img{
	display: inline-block;
	margin-right: 20px;
}

form{
	width: 100%;
}

form> input{
	display: block;
	width: 100%;
	max-width: 240px;
	height: 30px;
	border-bottom: 1.5px solid #000000; 
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	margin: 15px auto;
	font-size: 14px;
}

form> input:focus{
	border-bottom: 1.5px solid #409fac;
}

#register{
	color: #409fac;
	background-color: #ffffff;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 30px;
	
	width: 112px;
	height: 33px;

	border: 1.5px solid #409FAC;
	border-radius: 30px;
}


.seperate{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 20px;
	gap: 10px;
	width:100%;
	max-width: 420px;
	color: #AAAAAA;
}

.line{
	width: 100%;
	height: 0;
	border-bottom: 1.5px solid #AAAAAA;
}

h3{
	margin: 0px;
	font-size: 20px;
	color: #292929;
}

.hint{
	font-size:13px;
}

.register{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0px;
	gap: 10px;

	width: 50%;
	min-width: 300px;
	font-size: 14px;
	color: #292929;
}

.title{
	font-size: 18px;
}


#go_register{
	display:block;
	text-decoration: none;
	color: #FFFFFF;
	box-sizing: border-box;
	background-color: #409FAC;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
	
	width: 112px;
	height: 33px;

	border: 1.5px solid #409FAC;
	border-radius: 30px;
}


#forget{
	color:#409fac;
}

#login:hover{
	background-color: #409fac;
	border: none;
	color: #ffffff;
	cursor: pointer;
}

#go_register:hover{
	background-color: #FFFFFF;
	color: #409FAC;
}

.btn_social_login:hover{
	background-color: #EEEEEE;
}

#error_msg{
	color: #FF0000;
	font-size: 12px;
}

.error_input{
	border-bottom: 1.5px solid #FF0000;
}