.block1{
	height:90vh;
}

.box1{
   font-family: 'Zen Kaku Gothic Antique';
   font-weight: 700;
   width:1150px;
   height:550px;
   background-color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   text-align: center;
   border-radius: 15px;
   position: absolute;
   top: 100px;

}

.box2{
   font-family: 'Zen Kaku Gothic Antique';
   font-weight: 700;
   width:100px;
   height:60px;
   background-color: #b79363;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   margin: 10px 0px;
}

.box3{
   font-family: 'Zen Kaku Gothic Antique';
   font-weight: 700;
   width:200px;
   height:60px;
   background-color: #e7d9bc;
   color:#6a5f56;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px -50px;

}

.box4{
   font-family: 'Zen Kaku Gothic Antique';
   font-weight: 700;
   width:120px;
   height:170px;
   background-color: #816d4c;
   color:#FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0px;
}

.box5{
   font-family: 'Zen Kaku Gothic Antique';
   font-weight: 700;
   width:120px;
   height:90px;
   background-color: #6b594c;
   color:#FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0px;
}

.box6{
   font-family: 'Zen Kaku Gothic Antique';
   font-weight: 700;
   width:170px;
   height:170px;
   background-color: #e7d9bc;
   color:#6a5f56;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px -30px;
}

.box7{
   font-family: 'Zen Kaku Gothic Antique';
   font-weight: 700;
   width:170px;
   height:90px;
   background-color: #e7d9bc;
   color:#6a5f56;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px -30px;
}

.t1{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   display: flex;
   align-items: center;
   color: #292929;
}

.t1 span {
    font-size: 36px;
    color: #EE7B87; 
    font-weight: bold;
    font-weight: 700;
}

.t2{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   display: flex;
   align-items: center;
   color: #E69A8A;
}

.t3{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   display: flex;
   align-items: center;
   color: #685D5D;
}