/* 基本區塊樣式 */
.block1{
    height: 90vh;
    background-color: #c3e4f2;
}

.box1{
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 700;
    width:100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 15px;
}

.box2{
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 700;
    width:100%;
    height: 60px;
    background-color: #9e9d9a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin: 2px 0px ;
    padding: 3px;
}

.box3{
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 700;
    width:100%;
    height: 60px;
    background-color: #e3dfdb;
    color:#3c4242;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px ;
    padding: 5px;
}

.box4{
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 700;
    width:100%;
    height:150px;
    background-color: #776f6d;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px;
    padding: 5px;
}

.box5{
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 700;
    width:100%;
    height:97px;
    background-color: #625d5a;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px;
}

.box6{
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 700;
    width:100%;
    height:150px;
    background-color: #e3dfdb;
    color:#3c4242;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px;
}

.box7{
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 700;
    width:100%;
    height:97px;
    background-color: #e3dfdb;
    color:#3c4242;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px;
}

@media (max-width: 575.98px) {
    .box3,.box6,.box7{
        margin-top: -2px;
        margin-bottom: 25px;
    }
 }
@media (max-width: 575.98px) {
    .box4,.box5{
        height:60px ;
    }
}


.t1 {
    font-size: 30px; 
    color: #292929;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    line-height: 1.5;
}

.t1 span {
    font-size: 36px;
    color: #4dbce9; 
    font-weight: bold;
}

.t2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #0b5394;
}

.t3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #685D5D;
    text-align: left;
}

/* 卡片樣式 */

.card-content {
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
}

.card {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

/* 圖片排列樣式 */
.image-wrapper {
    display: flex;
    gap: 20px;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767.98px) {
    .image-item {
        margin-bottom: 50px;
    }
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.image-item input {
    margin-bottom: 20px;
    text-align: center;
    width: 50px;
    border: 2px solid #409FAC;
    height: 40px;
    font-weight: 700;
    justify-content: center;
}

/* 提交按鈕樣式 */
.submit-btn {
    background-color: #409FAC;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 700;
    display: block;
    text-align: center;
    margin: 20px auto; /* 確保在父容器中水平置中 */
    max-width: 200px; /* 限制按鈕的最大寬度 */
    width: 100%; /* 讓按鈕在小屏幕上自適應 */
}

/* 文字段落樣式 */
.p-4{
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #409FAC;
    position: relative;
    left: 12px;
    top: 50px;
}
